:root {
  --primary-color: rgb(215, 161, 87);
  --secondary-color: rgb(70, 70, 70);
  --tertiary-color: goldenrod;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(216, 188, 147);
}

header {
  width: 100%;
}

/* header section {
  display: flex;
} */

#header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  height: 100px;
}

#header-title {
  padding: 5px 15px 5px 50px;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 200%;
  min-width: 335px;
}

#navbar {
  padding: 5px;
  margin: 0px 40px;
}

#navbar a {
  color: var(--primary-color); 
  text-decoration: none;
  font-size: 115%;
  text-align: center;
}

#navbar li {
  display: inline;
  padding: 0px 10px 5px 10px;
  margin: 0px 5px;
  border-bottom: 3px solid var(--primary-color);
}

#header-subtitle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 150px;
  background-image: url(../images/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#header-subtitle h2 {
  position: relative;
  font-size: 125%;
  right: 20px;
  bottom: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px;
}

.desc {
  width: 12.5%;
  text-align: right;
  margin: 0px 20px 0px 75px;
}

.desc h1 {
  padding: 15px 0px;
  margin: 0;
  min-width: fit-content;
  font-size: 175%;
  color: var(--tertiary-color);;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  text-align: right;
}

.content {
  width: 67.5%;
  margin: 5px 0px;;
  padding-left: 20px;
  border-left: 5px solid var(--tertiary-color);
}

.content p {
  padding: 5px 0px;
  margin: 0px;
}

#aboutMe h4 {
  margin: 20px 0px 10px 0px;
  text-decoration: underline;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#projects a {
  color: black;
  text-decoration: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  transition: 2s filter;
  border: 5px solid var(--primary-color);
}

.project-inside {
  position: relative;
  width: fit-content;
  padding: 5px 10px 5px 20px;
  bottom: 10%;
  background-color: var(--primary-color);
}

.project-inside h1, .project-inside h2 {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-inside h1 {
  font-weight: bold;
  font-size: 120%;
}

.project-inside h2 {
  font-weight: 200;
  font-size: 120%;
  font-style: italic;
}

.project-card{
  margin: 5px 5px;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(../images/main-project.jpeg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(30%);
}

.project-card:hover::before {
  filter: brightness(100%);
  transition: 0.5s;
}

#main-project {
  position: relative;
  height: 400px;
  width: 100%;
}

#main-project::before {
  background-image: url(../images/main-project.jpeg);
}

#project-2, #project-3 {
  position: relative;
  box-sizing: border-box;
  height: 150px;
  flex: 1;
}

#project-2::before {
  background-image: url(../images/project-2.jpeg);
}

#project-3::before {
  background-image: url(../images/project-3.jpeg);
}

#contactInfo {
  display: flex;
  align-items: center;
}
#contactMe ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
}

#contactMe li {
  display: inline;
  padding: 5px 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--primary-color);
  font-size: 125%;
  color: var(--secondary-color);
}

#contactMe li a {
  text-decoration: none;
  color: inherit;
}


@media screen and (max-width: 940px){
  #navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    height: 100%;
  }

  #navbar a {
    width: 45%;
    margin: auto;
  }
}

@media screen and (max-width: 790px){
  body {
    font-size: 80%;
  }

  #header-title {
    min-width: 250px;
  }
}
